html, body {
	min-width: 1100px;
	color: black;
	background: #fff;
	font-size: 14px;
  line-height: 1.8em;
  font-family:Helvetica, "Pingfang SC", "Microsoft YaHei", STHeiti, Verdana, Arial, Tahoma, sans-serif;
} 
 
 h2, h3, h4, h5,  p, ul{
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

a {
    text-decoration:none;
    cursor: pointer;
}

.qq {
	width: 100%;
	min-width: 1100px;
	height: auto;
	position: relative;
	background: #ffffff;
	border-bottom: 1px solid #ededed;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
	z-index: 200;
	transition: all 0.5s ease-in;
}

.qq {
		min-width: 1000px;
	}

.qq a {
	text-decoration: none;
}

.qq ul {
	list-style: none;
}

.qq .zz {
	box-sizing: border-box;
	margin: 0 auto;
	width: 1100px;
	height: 70px;
	zoom: 1;
}

.qq .zz:after {
	content: "";
	display: table;
	clear: both;
}

.qq .zz .xx {
	display: inline-block;
	width: 72px;
	height: 25px;
	margin-top: 22.5px;
	background-size: 72px 25px;
    background-image: url("./pp/222.png");
}

	.qq .zz .xx {
		background-image: url("./pp/333.png");
	}

.qq .zz .ss {
	display: inline-block;
	width: 60px;
	margin-left: 10px;
	margin-bottom: -1px;
}

.qq .zz .ss p {
	float: left;
	width: 78px;
	color:black;
	font-size: 10px;
	font-family: 'PingFang SC';
	font-weight: 300;
	line-height: 13px;
}

.qq .zz .ddd {
	float: right;
    zoom: 1;
    margin: 0 auto;
}

.qq .zz .ddd:after {
	content: "";
	display: table;
	clear: both;
}

.qq .zz .ddd > li {
	float: left;
	display: inline-block;
	height: 25px;
	line-height: 70px;
	padding: 0px 15px;
	margin-right: 16px;
}

.qq .zz.ddd > li .ee {
	text-decoration: none;
	color: #2c3a46;
}

.qq .zz .ddd > li .ee:hover {
	color: #FF4444;
}

.qq .zz .ddd .gg-margin {
	margin-right: 16px;
}

.qq .zz .ddd .hhh {
	color: #FF4444 !important;
}

.qq .zz .ddd .hhh .gg:after {
	border-top-color: #FF4444;
}

.qq .zz .ddd  {
	background: #f8f8f8;
}

.qq .zz .ddd {
	border-top-color:black;
}

.qq .zz .ddd  {
	color: #FF4444;
}

.qq .zz .gg {
	position: relative;
	display: inline-block;
}

.qq .zz .gg:after, .qq .header .gg:before {
	content: ' ';
	height: 0;
	width: 0;
	top: 100px;
	position: absolute;
	left: 5px;
	border: 5px solid transparent;
}

.qq .zz .gg:before {
	border-top-color: #ffffff;
	top: -9px;
	z-index: 2;
}

.qq .zz .gg:after {
	border-top-color: #333;
	top: -7px;
	z-index: 1;
}

.qq .zz .bcc {
	margin: 0 auto;
	width: 1100px;
	border-top: 1px solid #e5e5e5;
	padding: 20px 0px;
	box-sizing: border-box;
	text-align: center;
}

.qq .zz .bcc {
	width: 1000px;
	min-width: 1000px;
	}


.qq .zz .bcc{
	font-size: 12px;
	line-height: 30px;
	color: #666;
}

.qq .zz .bcc  {
	display: inline-block;
	padding: 0px 20px;
}

.qq .zz{
	padding: 0px 0px 0px 20px;
}

.qq .zz {
	padding: 0px 0px 0px 10px;
}

.qq .zz .bl {
	width: 80px;
	height: 30px;
	line-height: 28px;
	display: inline-block;
	border: 1px solid #2B90ED;
	color: #2B90ED;
	text-align: center;
	border-radius: 2px;
	box-sizing: border-box;
  cursor: pointer;
	margin-right: -30px;
}

.qq .zz .s {
	background-color: #2B90ED;
	color: #FFFFFF;
}

.qq .zz .bg {
	width: 80px;
	height: 30px;
	line-height: 30px;
	display: inline-block;
	background-color: #2B90ED;
	color: #ffffff;
	text-align: center;
	border-radius: 2px;
  cursor: pointer;
  margin-right: -20px;
}

.qq .zz .bg:hover {
	background-color: #5CB0FD;
	color: #ffffff;
}

.br{
    background-image: url(./pp/444.png);
    height: 420px;
    width: 100%;
    background-size: cover;
    background-position: 50%;
}
.wr{
    position: absolute;
    width: 1100px;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    color: #fff;
}
.wr h3{
    font-size: 44px;
    margin: 200px 0 7px;
    line-height: 62px;
}
.wr p{
    font-size: 20px;
    margin-bottom: 55px;
}
.wr a{
    background-color: #fff;
    padding: 12px 42px;
    font-size: 14px;
    text-decoration: none;
    border-radius: 2px;
    color: #eb737f;
}

.k{
    width: 100%;
    display: table;
    margin: 1rem 0;
}
.k{
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
    zoom: 1;
}
.k .main:after {clear: both;height: 0;overflow: hidden;display: block;visibility: hidden;content: ".";}

.k .main h2{
    font-family: PingFangSC-Medium;
    font-size: 28px;
    color: #333;
    letter-spacing: 0;
    text-align: center;
    font-size: 28px;
    color: #333;
    line-height: 40px;
    padding: 90px 0;
}
.k .a .l{
    width: 35%;
    float: left;
}
.k .a .l p{
    margin-bottom: 28px;
    color: #333;
    font-size: 18px;
    line-height: 24px;
    font-family: PingFangSC-Medium;
    letter-spacing: 0;
    width: 102%;
    display:block;
}
.k    span{
    margin-top: 5px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #999;
    letter-spacing: 0;
    line-height: 24px;
    width: 390px;
    display:block;
}

.k .a  .y a{
    background-color: #fff;
    color: #38f;;
    font-size: 14px;
    padding: 8px 35px;
    border-radius: 2px;
    display: inline-block;
	border: 1px solid rgb(48, 129, 243);
	margin-left: 0px;
	margin-right: 60px;
}
.k .a  .y a.m{
    background-color: #38f;
    color: #fff;
}